[submodule "nvim/plugins/mini.nvim"]
	path = nvim/plugins/mini.nvim
	url = https://github.com/nvim-mini/mini.nvim

[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
